.container-button-filter {
    width: 100%;
    max-width: 100%;
    padding-top: 0.15rem;
}

ul.ks-cboxtags {
    width: 100%;
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

ul.ks-cboxtags li{
    width: auto;
    max-width: 100%;
    margin-left: 0.125rem;
    margin-right: 0.13%;
}

ul.ks-cboxtags li label{
    width: fit-content;
    font-size: 1rem;
    color: white;
    border-radius: 0.6rem;
    background-color: #48a36a;
    box-shadow: #7EBE96 0.122rem 0.122rem 0.163rem;
    transition: all .2s;
    padding: 0.3rem 0.4rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    vertical-align: middle;
    font-family: "Material Icons";
    font-size: 0.9em;
    font-weight: bold;
    padding-right: 0.2rem;
    content: "add";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "remove";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    background-color: #7EBE96;
    color: white;
    transition: all .2s;
    box-shadow: none;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 0.1rem solid #48a36a;
}