.container-button-filter {
    width: 100%;
    max-width: 100%;
    font-size: 0.9rem;
    padding-top: 0.15rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

ul.ks-cboxtags {
    width: 100%;
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

}

ul.ks-cboxtags li{
    display: inline-block;
    flex: 0 0 auto;
    overflow: hidden;
    width: auto;
    max-width: 100%;
    margin-left: 0.125rem;
    margin-right: 0.13%;
}

ul.ks-cboxtags li label{
    display: inline-block;
    width: fit-content;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 0.6rem;
    border: 0.1rem solid #3a5a40;
    color: #3a5a40;
    box-shadow: #9dbbae 0.122rem 0.122rem 0.163rem;
    transition: all .2s;
    padding: 0.2rem 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.9rem;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    font-family: "Material Icons";
    font-size: 0.9rem;
    padding-right: 0.2rem;
    content: "add";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "remove";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 0.1rem solid #9dbbae;
    background-color: #9dbbae;
    color: white;
    transition: all .2s;
    box-shadow: none;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 0.1rem solid #3a5a40;
}