/* BASE */
hr.solid {
    border-top: 0.09rem solid #967bdc;
    margin: 0.8rem;
}

.card-style {
    z-index: 9;
    display: none;
    padding: 0.6rem 0.6rem;
    border: none !important;
    border-radius: 0.8rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0.122rem 0.122rem 0.163rem;
    cursor: default;
}

.card-img-top {
    border-radius: 0.8rem !important;
}

.open-img-btn {
    position: absolute;
    top: 18px;
    right: 14px;
    border: none;
    background: none;
    color: white;

}

.card-body {
    padding: 0.8rem !important;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.card-text {
    font-size: 0.98rem;
}

.card-link-text {
    font-size: 0.94rem;
    margin-left: 0.3rem;
}

.card-btn {
    border: none;
    border-radius: 0.6rem !important;
    padding: 0.2rem 0.4rem;
    color: white !important;
    background-color: #48a36a !important;
    box-shadow: #7EBE96 0.122rem 0.122rem 0.163rem;
}

.card-btn:hover {
    background-color: #7EBE96 !important;
}

.close-btn {
    width: fit-content;
    max-width: 100%;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
}

.close-btn:hover {
    color: #e25a25;
}

/* RESPONSIVE */
@media (min-width: 1281px) {
    .card-style {
        width: 24%;
        min-width: 20%;
        max-width: 35%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .card-style {
        width: 28%;
        min-width: 26%;
        max-width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-style {
        width: 30%;
        min-width: 30%;
        max-width: 40%;
    }
    .close-btn {
        color: #e25a25;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card-style {
        width: 30%;
        min-width: 30%;
        max-width: 40%;
    }
    .close-btn {
        color: #e25a25;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card-style {
        width: 45%;
        min-width: 45%;
        max-width: 48%;
    }
    .card-link-text {
        font-size: 0;
        margin-left: 0;
    }
    .close-btn {
        color: #e25a25;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .card-style {
        width: 55%;
        max-width: 60%;
    }
    .card-link-text {
        font-size: 0;
        margin-left: 0;
    }
    .close-btn {
        color: #e25a25;
    }
}

@media (max-width: 319px) {
    .card-style {
        width: 70%;
        max-width: 70%;
    }
    .card-link-text {
        font-size: 0;
        margin-left: 0;
    }
    .close-btn {
        color: #e25a25;
    }
}