hr.solid {
    border-top: 0.09rem solid #967bdc;
    margin: 0.8rem;
}

.card-style {
    z-index: 9;
    display: none;
    width: 28%;
    max-width: 28%;
    padding: 0.6rem 0.6rem;
    border: none !important;
    border-radius: 0.8rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0.122rem 0.122rem 0.163rem;
    cursor: default;
}

.card-img-top {
    border-radius: 0.8rem !important;
}

.card-body {
    padding: 0.8rem !important;
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 0 !important;
}

.card-text {
    font-size: 0.95rem;
}

.card-link-text {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

.card-btn {
    border: none;
    border-radius: 0.6rem !important;
    padding: 0.2rem 0.4rem;
    color: white !important;
    background-color: #48a36a !important;
    box-shadow: #7EBE96 0.122rem 0.122rem 0.163rem;
}

.card-btn:hover {
    background-color: #7EBE96 !important;
}

.close-btn {
    width: fit-content;
    max-width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
}

.close-btn:hover {
    color: #e25a25;
}

/* Tablets and Ipad (portrait) */
@media (min-width: 768px) and (max-width: 1024px){
    .card-style {
        width: 40%;
        max-width: 45%;
    }
    .card-title {
        font-size: 1.2rem;
    }
}

/* Tablets and mobiles */
@media (min-width: 481px) and (max-width: 767px) {
    .card-style {
        width: 45%;
        max-width: 48%;
        height: fit-content;
        max-height: 80%;
        margin-top: 5rem;
    }
    .card-title {
        font-size: 1.1rem;
    }
}

@media (min-width: 200px) and (max-width: 549px) {
    .card-link-text {
        font-size: 0;
        margin-left: 0;
    }
}

/* Smartphone */
@media (min-width: 280px) and (max-width: 480px) {
    .card-style {
        width: 62%;
        max-width: 70%;
    }
    .card-body {
        padding-right: 0.4rem !important;
        padding-left: 0.4rem !important;
    }
    .card-title {
        font-size: 0.95rem;
    }
    .card-text {
        font-size: 0.85rem;
    }
}