/* BASE */
.card-style {
    z-index: 9;
    display: none;
    padding: 0.6rem 0.4rem;
    border: none !important;
    border-radius: 0.8rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0.122rem 0.122rem 0.163rem;
    cursor: default;
}

.card-img-top {
    width: 15vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 0.8rem !important;
}

.open-img-btn {
    position: absolute;
    top: 18px;
    right: 16px;
    border: none;
    background: none;
    color: white;
}

.card-body {
    padding: 0.6rem 0.2rem !important;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.card-text {
    font-size: 0.98rem;
}

.card-link-text {
    font-size: 0.94rem;
}

.card-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    overflow: hidden;

    height: 2rem;
    border: none;
    border-radius: 0.6rem !important;
    padding: 0.2rem 0.4rem;
    color: white !important;
    background-color: #48a36a !important;
    box-shadow: #7EBE96 0.122rem 0.122rem 0.163rem;
}

.card-btn:hover {
    background-color: #7EBE96 !important;
}

.close-btn {
    width: fit-content;
    max-width: 100%;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
}

.close-btn:hover {
    color: #e25a25;
}

/* RESPONSIVE */
@media (min-width: 1281px) {
    .card-style {
        width: 24%;
        min-width: 20%;
        max-width: 35%;
        padding: 0.6rem 0.6rem;
    }
    .card-body {
        padding: 0.6rem 0.4rem;
    }
    .card-img-top {
        width: 15vw;
        height: 29vh;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .card-style {
        width: 28%;
        min-width: 26%;
        max-width: 40%;
        padding: 0.6rem 0.6rem;
    }
    .card-body {
        padding: 0.6rem 0.4rem;
    }
    .card-img-top {
        width: 15vw;
        height: 27vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-style {
        width: 30%;
        min-width: 30%;
        max-width: 40%;

    }
    .close-btn {
        color: #e25a25;
    }
    .card-img-top {
        width: 20vw;
        height: 26vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card-style {
        width: 30%;
        min-width: 30%;
        max-width: 40%;
    }
    .close-btn {
        color: #e25a25;
    }
    .card-img-top {
        width: 16vw;
        height: 22vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card-style {
        width: 45%;
        min-width: 45%;
        max-width: 48%;
    }
    .close-btn {
        color: #e25a25;
    }
    .card-img-top {
        width: 16vw;
        height: 22vh;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .card-style {
        width: 55%;
        max-width: 60%;
    }
    .close-btn {
        color: #e25a25;
    }
    .card-img-top {
        width: 6vw;
        height: 18vh;
    }
}

@media (max-width: 319px) {
    .card-style {
        width: 70%;
        max-width: 70%;
    }
    .close-btn {
        color: #e25a25;
    }
    .card-img-top {
        width: 100%;
        height: 20vh;
    }
}