.container-date-filter {
    width: 100%;
    max-width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.sub-container-date-filter {

}

.date-label {
    width: fit-content;
    display: inline-block;
    cursor: default;
    font-size: 0.9rem;
    margin: 0 !important;
}

.date-picker {
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 0.6rem !important;
    border: 0.1rem solid #48a36a !important;
    box-shadow: #7EBE96 0.122rem 0.122rem 0.163rem;
    cursor: pointer !important;
    font-size: 0.9rem !important;
    padding-top: 0.2rem!important; padding-bottom: 0.2rem!important;
    margin-left: 0.5rem;margin-right: 0.5rem;
}