.image-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;

    border: 0.09rem solid transparent;
    border-radius: 0.8rem;

    text-align: center;
    background-color: transparent;
    transition: width 1s;
}

.card-img-top {
    width: 14vw;
    height: 30vh;
    /*width: 320px;
    height: 320px;*/
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0.122rem 0.122rem 0.163rem;
}

.open-img-btn {

}

.blur-txt-wrapper {
    position: absolute;
    top: 88%;
    width: 100%;
    padding: 0.4rem 0;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    background: rgba(0,0,0, 0.6);
    z-index: 1;

    color: white;
}

.wiki-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    overflow: hidden;
}

.blur-txt {
    font-size: 0.94rem;
}

.wikimedia-btn {
    border: none;
    background: none;
    color: white;
}