.vl {
    border-right: 0.09rem solid #48a36a;
    margin: 0 0.6rem;
    height: 30px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .vl {
        margin: 0 0.2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .vl {
        margin: 0 0.03rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .vl {
        margin: 0 0.2rem;
    }
}

@media screen and (max-width: 319px) {
    .vl {
        border: none;
        margin: 0;
        height: 0;
    }
}